body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

#header {
    text-align: center;
    margin-bottom: 32px;
    line-height: 0.5;
}

#main {
    text-align: left;
    padding-bottom: 8px;
}

#footer {
    margin-top: 64px;
    text-align: center;
    line-height: 0.5;
}


h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 0.5;
    margin-bottom: 0px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 0.5;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 8px;
    border-bottom: 2px solid #e2e0e0
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.5;
    padding-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 12 px;
}

.tittle {
    line-height: 0.5;
    padding-bottom: 0px;
    padding-top: 0px;
}

.blocks {
    margin-bottom: 30px;
}
